@import "../character_styles";
@import "../colors";


body {
  background-color: linen;
  ///*display: block;*/
  margin: 0px;
}

h1{
  margin: 0px;
  margin-top: 31px;
  width: 471px;
  @extend .chr-title;
}
.commentForm {
  /*background-color: aqua;*/
  width: 783px;
  height: 768px;
  min-width: 783px;

}
.fillerImage {
  /*background-color: blueviolet;*/
  background-image: url("../../assests/jordan-steranka-lpddCskeg4A-unsplash@2x.png");
  background-size: auto;
  width: 583px;
  height: 768px;
}
.container {
  display: flex;
}
.commentFormBody {
  margin-top: 81px;
  /*height: 100%;*/
  /*background-color: darkorange;*/
  margin-left: 139px;
  width: fit-content;
}
.logo{
  background-color: $yellow;
  height: 76px;
  width: 76px;
}
.title{
  width: fit-content;
}
.field{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 444px;
}
.field-title{
  @extend .chr-field-title;

}
.field-input-text{
  border: 0;
  border-bottom: 1px solid $light-grey;
  outline: none;
  width: 444px;
  /*background-color: var(--yellow);*/
  padding: 0;
  padding-bottom: 5px;
  @extend .chr-field-input-value;
  /*text-align: center;*/
}
.field-input-text::placeholder {
  @extend .chr-field-input-placeholder;
  opacity: 1; /* Firefox */
}

.btn-submit{
  @extend .chr-btn-submit;
  height: 45px;
  margin-top: 30px;
  border: 0;
  border-radius: 0;
  background-color: $yellow;
  padding: 12px 56px 12px 56px ;

}
.btn-submit-text{
  height: 21px;
}
.btn-submit-container{
  width: fit-content;
}

/*.btn-submit:hover{*/
/*    padding: 7px 51px 7px 51px ;*/

/*    border: 5px solid var(--yellow);*/
/*    !*background-color: #ffedad;*!*/
/*    background-color: #ffffff;*/
/*    cursor: pointer;*/
/*}*/
//change autofill back ground color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color:$dark-blue;
}

img {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}
.logo-image{
  width: 76px;
}
.error-msg-container{
  margin-left: auto;
  height: 15px;
  margin-top: 5px;
  display: block;
  border: none;
  padding: 0;
}
.error-msg{
  display: block;
  @extend .chr-field-error-msg;
  margin-top: -1px;
}
.field-set{
  margin-top: 31px;
  width: fit-content;
}
.input-value-error{
  /*display: flex;*/
  //margin-top: 18px !important;
  @extend .chr-field-input-value-error;
}
.field-input{
  margin-top: 15px;
  display: flex;

}
.input-error{
  //not in use
  color: $red;
  font-weight: 600;

}