@import "../character_styles";
@import "../colors";
@media screen and (min-width: 970px) {





  .commentForm {
    width: calc((783 / 1366) * 100vw);

  }
  .fillerImage {
    width: calc((583 / 1366) * 100vw);
    background-size: cover;
    height: 100vh;
    min-height: 767px;
    display: block;

  }

  .container {
    flex-direction: row;

  }












}