@import "../character_styles";
@import "../colors";
@media screen and (min-width: 576px) {




  h1{

    width: 471px;
  }
  .commentForm {
    height: fit-content;
    min-width: calc((783 / 1366) * 100vw);
  }



  .container {
    flex-direction: column;
  }
  .commentFormBody {
    margin-top: max( calc((81/768)* 100vh),81px ) ;
    height: fit-content;
    min-width: 471px;
    margin-bottom: 80px;
  }

  .title{
    width: fit-content;
  }
  .field{
    width: 444px;
  }

  .field-input-text{
    width: 444px;
  }



}