@import "../character_styles";
@import "../colors";
@media screen and (min-width: 576px) {


  body {
    background-color: #ffb89f;
  }

  h1{

    width: 471px;
  }
  .commentForm {
    height: fit-content;
    min-width: calc((783 / 1366) * 100vw);// reassign of value due to lower media queries

  }



  .container {
    flex-direction: column;
  }
  .commentFormBody {
    margin-top: max( calc((81/768)* 100vh),81px ) ;
    height: fit-content;
    min-width: 471px;
    margin-bottom: 80px;
  }

  .title{
    width: fit-content;
  }
  .field{
    width: 444px;
  }

  .field-input-text{
    width: 444px;
  }
  .fill-image{
    width:583px;
    max-width:583px;
  }


}