@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;700;800&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;700;800&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;700;800&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;700;800&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;700;800&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");
.chr-title, h1 {
  font: normal normal 200 40px Manrope;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-title, .field-title {
  font: normal normal 500 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-input, .chr-field-error, .chr-field-error-msg, .error-msg, .chr-field-input-value-error, .input-value-error, .chr-field-input-value, .field-input-text, .chr-field-input-placeholder, .field-input-text::placeholder {
  font: 500 12px Plus Jakarta Sans;
  letter-spacing: 0px;
}

.chr-field-input-placeholder, .field-input-text::placeholder {
  color: #DBDBDB;
}

.chr-field-input-value, .field-input-text {
  color: #05253C;
}

.chr-field-error, .chr-field-error-msg, .error-msg, .chr-field-input-value-error, .input-value-error {
  font-weight: 600;
  color: #FF0000;
}

.chr-btn-submit, .btn-submit {
  font: normal normal 600 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-title, h1 {
  font: normal normal 200 40px Manrope;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-title, .field-title {
  font: normal normal 500 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-input, .chr-field-input-placeholder, .field-input-text::placeholder, .chr-field-input-value, .field-input-text, .chr-field-error, .chr-field-input-value-error, .input-value-error, .chr-field-error-msg, .error-msg {
  font: 500 12px Plus Jakarta Sans;
  letter-spacing: 0px;
}

.chr-field-input-placeholder, .field-input-text::placeholder {
  color: #DBDBDB;
}

.chr-field-input-value, .field-input-text {
  color: #05253C;
}

.chr-field-error, .chr-field-input-value-error, .input-value-error, .chr-field-error-msg, .error-msg {
  font-weight: 600;
  color: #FF0000;
}

.chr-btn-submit, .btn-submit {
  font: normal normal 600 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

body {
  margin: 0px;
  height: 100vh;
  min-height: fit-content;
}

h1 {
  margin: 0px;
  margin-top: 31px;
}

.commentForm {
  width: 100%;
  height: 768px;
}

.fillerImage {
  background-image: url("../../assests/jordan-steranka-lpddCskeg4A-unsplash@2x.png");
  background-size: auto;
  display: none;
}

.container {
  display: flex;
  min-width: 310px;
  height: 100vh;
}

.commentFormBody {
  margin-top: max(10.546875vh, 81px);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-left: 35px;
  padding-right: 35px;
}

.logo {
  background-color: #FFDC47;
  height: 76px;
  width: 76px;
}

.field {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field-input-text {
  border: 0;
  border-bottom: 1px solid #EBEBEB;
  outline: none;
  width: 77.2173913043vw;
  padding: 0;
  padding-bottom: 5px;
}

.field-input-text::placeholder {
  opacity: 1; /* Firefox */
}

.btn-submit {
  height: 45px;
  margin-top: 30px;
  border: 0;
  border-radius: 0;
  background-color: #FFDC47;
  padding: 12px 56px 12px 56px;
}

.btn-submit-text {
  height: 21px;
}

.btn-submit-container {
  width: fit-content;
}

/*.btn-submit:hover{*/
/*    padding: 7px 51px 7px 51px ;*/
/*    border: 5px solid var(--yellow);*/
/*    !*background-color: #ffedad;*!*/
/*    background-color: #ffffff;*/
/*    cursor: pointer;*/
/*}*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #05253C;
}

img {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}

.logo-image {
  width: 76px;
}

.error-msg-container {
  margin-left: auto;
  height: 15px;
  margin-top: 5px;
  display: block;
  border: none;
  padding: 0;
}

.error-msg {
  display: block;
  margin-top: -1px;
}

.field-set {
  margin-top: 31px;
  width: fit-content;
}

.input-value-error {
  /*display: flex;*/
}

.field-input {
  margin-top: 15px;
  display: flex;
}

.input-error {
  color: #FF0000;
  font-weight: 600;
}

.chr-title, h1 {
  font: normal normal 200 40px Manrope;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-title, .field-title {
  font: normal normal 500 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-input, .chr-field-input-placeholder, .chr-field-input-value, .chr-field-error, .chr-field-input-value-error, .chr-field-error-msg, .field-input-text, .field-input-text::placeholder, .error-msg, .input-value-error {
  font: 500 12px Plus Jakarta Sans;
  letter-spacing: 0px;
}

.chr-field-input-placeholder, .field-input-text::placeholder {
  color: #DBDBDB;
}

.chr-field-input-value, .field-input-text {
  color: #05253C;
}

.chr-field-error, .chr-field-input-value-error, .chr-field-error-msg, .error-msg, .input-value-error {
  font-weight: 600;
  color: #FF0000;
}

.chr-btn-submit, .btn-submit {
  font: normal normal 600 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

@media screen and (min-width: 576px) {
  h1 {
    width: 471px;
  }
  .commentForm {
    height: fit-content;
    min-width: 57.3206442167vw;
  }
  .container {
    flex-direction: column;
  }
  .commentFormBody {
    margin-top: max(10.546875vh, 81px);
    height: fit-content;
    min-width: 471px;
    margin-bottom: 80px;
  }
  .title {
    width: fit-content;
  }
  .field {
    width: 444px;
  }
  .field-input-text {
    width: 444px;
  }
  .fill-image {
    width: 583px;
    max-width: 583px;
  }
}
.chr-title, h1 {
  font: normal normal 200 40px Manrope;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-title, .field-title {
  font: normal normal 500 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-input, .chr-field-input-placeholder, .chr-field-input-value, .chr-field-error, .chr-field-input-value-error, .chr-field-error-msg, .field-input-text, .field-input-text::placeholder, .error-msg, .input-value-error {
  font: 500 12px Plus Jakarta Sans;
  letter-spacing: 0px;
}

.chr-field-input-placeholder, .field-input-text::placeholder {
  color: #DBDBDB;
}

.chr-field-input-value, .field-input-text {
  color: #05253C;
}

.chr-field-error, .chr-field-input-value-error, .chr-field-error-msg, .error-msg, .input-value-error {
  font-weight: 600;
  color: #FF0000;
}

.chr-btn-submit, .btn-submit {
  font: normal normal 600 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

@media screen and (min-width: 970px) {
  .commentForm {
    width: 57.3206442167vw; /* Dynamically calculates the width */
  }
  .fillerImage {
    width: 42.6793557833vw; /* Dynamically calculates the width */
    background-size: cover;
    height: 100vh;
    min-height: 767px;
    display: block;
  }
  .container {
    flex-direction: row;
  }
}
.chr-title, h1 {
  font: normal normal 200 40px Manrope;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-title, .field-title {
  font: normal normal 500 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

.chr-field-input, .chr-field-input-placeholder, .chr-field-input-value, .chr-field-error, .chr-field-input-value-error, .chr-field-error-msg, .field-input-text, .field-input-text::placeholder, .error-msg, .input-value-error {
  font: 500 12px Plus Jakarta Sans;
  letter-spacing: 0px;
}

.chr-field-input-placeholder, .field-input-text::placeholder {
  color: #DBDBDB;
}

.chr-field-input-value, .field-input-text {
  color: #05253C;
}

.chr-field-error, .chr-field-input-value-error, .chr-field-error-msg, .error-msg, .input-value-error {
  font-weight: 600;
  color: #FF0000;
}

.chr-btn-submit, .btn-submit {
  font: normal normal 600 16px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: #05253C;
}

@media screen and (min-width: 1366px) {
  .commentForm {
    min-width: 783px;
  }
  .commentFormBody {
    margin-left: 10.1756954612vw;
  }
}

/*# sourceMappingURL=styles.css.map */
